@model Presentation.Models.LoginViewModel
@using Presentation.Enums
@{
    Layout = "_loginLayout";

    ViewData["Title"] = "Admin Home Page";

    var controller = "ApplicationUser";
}


<div class="card-body">
    <!-- Logo -->
    <div class="app-brand justify-content-center">
        <a href="/@controller/Login" class="app-brand-link gap-2">
            <span class="app-brand-text demo text-body fw-bolder">Estore</span>
        </a>
    </div>
    <!-- /Logo -->
    <h4 class="mb-2">Welcome to e-store! 👋</h4>
    <p class="mb-4">Please sign-in to your account and start to manage products.</p>

    <form id="formAuthentication" class="mb-3" action="/@controller/Login" method="POST">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="email" class="form-label">Username</label>
            <input type="text"
                   class="form-control"
                   asp-for="UserName"
                   placeholder="Enter your username"
                   autofocus />
            
        </div>
        <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
            </div>
            <div class="input-group input-group-merge">
                <input type="password"
                       id="password"
                       class="form-control"
                       asp-for="Password"
                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                       aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
               
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
        </div>
    </form>
    <p class="text-center">
        <span>New on our platform?</span>
        <a href="/@controller/SignUp">
            <span>Sign Up</span>
        </a>
    </p>
</div>
@section Scripts
{
    <script src="@Url.Content("~/js/common.js")" type="text/javascript"></script>

    @if (TempData["notice"] != null)
    {
        switch ((int)TempData["notice"])
        {
            case (int)StatusEnum.NoticeStatus.Success:
                <script>SaveAlert('center', 'success', 'User');</script>
                break;
        }

    }
}